<!DOCTYPE html>
<html ng-app="itemApp">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <title>MODULE 1 SOLUTION</title>
  </head>
  <body>
    <div ng-controller="itemController">
    <label> Enter the list of lunch items as comma separated values in the box shown beside:::</label>
    <input type="text" ng-model="names">{{names}}
    <button class="primary" ng-click="clickMe()"></button>
    </div>
  </body>
</html>
